In [22]:
import pandas as pd
import json
import urllib.request
import numpy as np
data = pd.read_csv('train.csv')
data.head()
import requests

In [23]:
data['text'] = data['text'].str.replace(pat=r'[A-Za-z0-9]+',repl=r"", regex=True)
data['text'].replace('', np.nan, inplace=True)

In [24]:
data['text'] = data['text'].str.replace(pat=r'[^\w]', repl=r' ', regex=True)
data['text'].replace('',np.nan, inplace=True)
data['text'] = data['text'].str.replace(',', "")
data['text'] = data['text'].str.replace('.', "")
data['text'] = data['text'].str.replace('(', "")
data['text'] = data['text'].str.replace(')', "")
data['text'] = data['text'].str.replace('=', "")
data['text'] = data['text'].str.replace('[', "")
data['text'] = data['text'].str.replace(']', "")
data['text'] = data['text'].str.replace('-', "")
data['text'] = data['text'].str.replace('_', "")
data['text'] = data['text'].str.replace('\'', "")
data['text'] = data['text'].str.replace('\"', "")
data['text'] = data['text'].str.replace('?', "")
data['text'] = data['text'].str.replace('!', "")
data['text'] = data['text'].str.replace('/', "")
data['text'] = data['text'].str.replace('\\', "")

C:\Users\User\AppData\Local\Temp\ipykernel_24148\3445343971.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['text'] = data['text'].str.replace('.', "")
C:\Users\User\AppData\Local\Temp\ipykernel_24148\3445343971.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['text'] = data['text'].str.replace('(', "")
C:\Users\User\AppData\Local\Temp\ipykernel_24148\3445343971.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['text'] = data['text'].str.replace(')', "")
C:\Users\User\AppData\Local\Temp\ipykernel_24148\3445343971.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['text'] = data['text'].str.replace('[', "")
C:\Users\User\AppData\Local\Temp\ipykernel_24148\3445343971.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['text'] = data['text'].str.replace(']', "")
C:\Users\User\AppData\Local\Temp\ipykernel_24148\3445343971.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['text'] = data['text'].str.replace('?', "")
C:\Users\User\AppData\Local\Temp\ipykernel_24148\3445343971.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['text'] = data['text'].str.replace('\\', "")

In [25]:
data['text'] = data['text'].fillna(0)

In [35]:
for i in range(len(data['text'])):
    if len(data['text'][i]) < 15:
        print(data['text'][i])

가치제안을 위한 필요사항
특강은 녹화본 올라올까요
제출은 어떤 걸 하나요
번 문제입니다
채팅이 비활성화입니다
가 접속이 이상합니다
미팅 참여 불가합니다
원격 부탁드립니다
지원부탁드립니다
 초기 비밀번호가 뭔가요
 왜 난 걸까요
 변경이 안된것 같아요ㅠㅠ
가 정확히 뭘까요
 파일 이 안 열립니다
계속 이런 오류가 뜹니다
동영상 다운로드가 안됩니다
스케일링이 되지 않습니다
    입니다
는 무슨뜻의 함수인가요
제출 오류가 뜹니다
원격지원 요청드립니다
가 뭔지 잘모르겠어요
 제출시 오류가납니다
 파일이 없다고 나옵니다
그냥 열 삭제해도 되나요
에러로 첨부하겠습니다
빅프로젝트 별도제출
교안을 받고싶어요
 파일 올려졌나요

In [4]:
import pandas as pd
import requests
data = pd.read_csv('train.csv')
data.head()

                                                text label
0  self.convs1 = nn.ModuleList([nn.Conv2d(1, Co, ...   코드2
1  현재 이미지를 여러개 업로드 하기 위해 자바스크립트로 동적으로 폼 여러개 생성하는데...     웹
2  glob.glob(PATH) 를 사용할 때 질문입니다.\n\nPATH에 [ ] 가 ...   코드2
3  tmpp = tmp.groupby(by = 'Addr1', as_index=Fals...   코드2
4  filename = TEST_IMAGE + str(round(frame_sec)) ...   코드2

In [16]:
import pandas as pd
data = pd.read_csv('test.csv')
data.head()

   id                                               text
0   0  팀즈는 노트북으로 접속하고 강의는 데스크톱 이용하려고 하는데 문제는 없을까요?  이...
1   1  셀프테스트에서 받은 점수가 해당 교육을 이수하고, 취업 연계등을 하는데 있어서 영향...
2   2  a= int(input('정수 A의 값을 입력하시오.:'))\nb= int(inpu...
3   3  def max4(a,b,c,d):\n    maximum = a\n    if b&...
4   4              i**=2 가  i **=2 와 왜 같은지가 이해가 잘 안됩니다!!

In [11]:



    
for i in range(len(data)):    
        
    
    client_id = "" # <-- client_id 기입
    client_secret = "" # <-- client_secret 기입
            
        
    a = {'text' : data['text'][i],
            'source' : 'ko',
            'target': 'en'}

    url = "https://naveropenapi.apigw.ntruss.com/nmt/v1/translation"

    header = {"X-NCP-APIGW-API-KEY-ID":client_id,
                    "X-NCP-APIGW-API-KEY":client_secret}

    response = requests.post(url, headers=header, data=a)
    rescode = response.status_code

    if(rescode==200):
        send_data = response.json()
        trans_data = (send_data['message']['result']['translatedText'])
        data['text'][i] = trans_data
    else:
        print("Error Code:" , rescode)

C:\Users\User\AppData\Local\Temp\ipykernel_14600\4059008989.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['text'][i] = trans_data

In [17]:
data.head(50)

    id                                               text
0    0  팀즈는 노트북으로 접속하고 강의는 데스크톱 이용하려고 하는데 문제는 없을까요?  이...
1    1  셀프테스트에서 받은 점수가 해당 교육을 이수하고, 취업 연계등을 하는데 있어서 영향...
2    2  a= int(input('정수 A의 값을 입력하시오.:'))\nb= int(inpu...
3    3  def max4(a,b,c,d):\n    maximum = a\n    if b&...
4    4              i**=2 가  i **=2 와 왜 같은지가 이해가 잘 안됩니다!!
5    5  print('a부터 b까지의 정수의 합을 구합니다.')\na = int(input(...
6    6  print('a부터 b까지 정수의 합을 구합니다.')\na = int(input('...
7    7  def electricPay(a) : \n    if a =100 and a  20...
8    8  def electricPay(kWh):\n    pay = 0\n    if kWh...
9    9  for i in range(11) : \n    if i &lt; 7 : \n   ...
10  10  n = int(input('정수를 입력하세요 :'))\n\nfor i in rang...
11  11  안녕하세요! 항상 친절하게 답변해주셔서 정말 감사드립니다.\n강사님 설명봤는데 이해...
12  12  1)split 메소드 결과 값에서 공백을 없애려면 ',   ' 이나 '/   ' 처...
13  13                 ... 아무소리도 안들려서 테스트를 못했습니다 불이익 있을까요
14  14  안녕하세요!\n복습중에 궁금증이 생겨서 질문드립니다!\n\n1. s4 = "아니면 ...
15  15  2. print('a + b =' , a + b)  a + b = 133.45600...
16  16  t=(4, 7, 5.6, 2, 3.14, 1)\ns='string'\na=['DTS...
17  17  num =int(input('원소수를 입력하시오:'))\n\nx= [None]*nu...
18  18  다만 메세지의 출력 부분을 함수 안에 넣어서 코딩했는데 이대로도 문제 없을까요?\n...
19  19  금요일 수업의 경우 강의 영상은 월요일 17시에 업로드된다고 봤는데,\n혹시 일부만...
20  20  항상 자세한 답변 감사드립니다.\n소수를 구하는 문제여서 나눠서 나머지가 0이 되는...
21  21  prime_number = []\n\nfor i in range(2, 1001) :...
22  22  git rebase -i HEAD~3을 실행하면 맨 위부터 [pick | 커밋 | ...
23  23  \n\ndef max_of(x): #최댓값 구하는 함수\n    maximum = ...
24  24   첨부 자료를 보면 리스트 a를 작성한 위치에 따라서 결과값이 다르게 나오는데 \n...
25  25  []를 사용하지 않고 list()함수만을 사용해 17,54,94,61,84와 같이 ...
26  26  a = 10\nb = 20\n# a, b = (b , a)       \na, b ...
27  27  테스트 케이스 3개 다 올바른 결과가 나왔는데 프로그래머스에 제출하니 정확성 테스트...
28  28  메소드에 대해서 질문드립니다!\n\n문제) 변수 a에 'I love you'를 저장...
29  29                    jupyter command not found라고 뜹니다
30  30  아래 사진과 같이 리스트 및 문자열 관련 메소드에서\n문자열 메소드는 값을 직접 변...
31  31  prime_number=[]\nnum=100\nfor i in range(1, nu...
32  32  반환은 반영이 안 되는 거고, 값을 받는 건 반영이 되는 거죠?? 그리고 pop외의...
33  33  안녕하세요. 수업 내용 질문드립니다!\n코드\n# 평균 구하기\nstu01['mea...
34  34  out = "번호:{0}, 이름: {1}, 평균점수: {2}"\n\n# 출력\npr...
35  35                               딕셔너리 어디서 틀렸는지 놓쳤습니다.
36  36  score += score1                       # 또는 sco...
37  37  실습2 이런식으로 푸는게 맞나요?\n딕셔너리 형태로 나와야 할 것 같은데, 방법을 ...
38  38  2. or로 입력하였을땐 논리연산으로 계산되어서 정상적으로 계산되었고, |로 입력하...
39  39  안녕하세요 \n교육 도중 AIFB자격증을 응시 하는걸로 알고 있는데요 \n복습 이후...
40  40  저번에 출력 관련해서 질문을 드렸는데 좀 더 궁금한게 생겨서 문의 드립니다!\n출력...
41  41  #LOP(루프) 돌린다 = 반복시킨다 = 하나씩 꺼내온다.\na = [1,2,3,4...
42  42  안녕하세요 매니저님, 남정현 입니다.\n\n코딩 문의 드리고 싶어 연락 드립니다.\...
43  43  안녕하세요! \n코드를 작성하면서 ==와 =의 구분이 계속 헷갈립니다ㅜㅜ\n둘의 차...
44  44  안녕하세요!\n\n함수 만들기 중 f'string - format 메소드 변환 에 ...
45  45  작성한 코드는 \ntitanic['Family'] = titanic['SibSp']...
46  46                          강의 소리가 안 들려요 이어폰을 꼽아도 그래요
47  47  1) 1부터 10까지 짝수의 합\ns = 0\nfor i in range(1, 11...
48  48  [심화] 함수 even을 만들어 보세요.\n입력 매개변수로 리스트를 입력받아.\n입...
49  49  post는 body에 데이터가 포함된다고 하셨는데\n\nbody가 말하는 것이 무엇...

In [18]:
data.shape, a.shape

((929, 2), (929, 2))

In [13]:
a = data.copy()

In [20]:
b = pd.read_csv('english_all.csv')
b.head()

                                                text label
0  self.convs1 = nn.ModuleList([nn.Conv2d(1, Co, ...   코드2
1  Currently, I dynamically create multiple forms...     웹
2  Question when using glob.glob(PATH).\n\nI'm as...   코드2
3  tmpp = tmp.groupby(by = 'Addr1', as_index=Fals...   코드2
4  filename = TEST_IMAGE + str(round(frame_sec)) ...   코드2

In [15]:
a.head(50)

    id                                               text
0    0  I'm trying to access Timz with a laptop and us...
1    1  Is the score received in the self-test a facto...
2    2  Enter a = int ('input') value of integer A.:')...
3    3  def max4(a,b,c,d):\n    maximum = a\n    if b&...
4    4  I don't understand why i**=2 is the same as i*...
5    5  print('a to b) Find the sum of integers.')\nTy...
6    6  print('a to b) Find the sum of integers.')\nTy...
7    7  def electricPay(a) : \n    if a =100 and a  20...
8    8  def electricPay(kWh):\n    pay = 0\n    if kWh...
9    9  for i in range(11) : \n    if i &lt; 7 : \n   ...
10  10  n = int ('enter an integer :')\n\nfor i in ran...
11  11  Hello! Thank you so much for always responding...
12  12  1)If you want to remove a space from the split...
13  13  ... I couldn't do the test because I couldn't ...
14  14  Hello!\nI have a question during the review!\n...
15  15  2. print ('a + b =', a + b) a + b = 133.456000...
16  16  t=(4, 7, 5.6, 2, 3.14, 1)\ns='string'\na=['DTS...
17  17  num = int ('enter number of elements:')\n\nx= ...
18  18  However, I coded the output part of the messag...
19  19  In the case of Friday classes, I thought the l...
20  20  Thank you always for your detailed reply.\nIt'...
21  21  prime_number = []\n\nfor i in range(2, 1001) :...
22  22  If you run git rebase -i HEAD~3, you will get ...
23  23  def max_of(x): #Function to obtain maximum val...
24  24  According to the attached data, the result val...
25  25  Is there a way to save random numbers as a lis...
26  26  a = 10\nb = 20\n# # a, b = (b , a)       \na, ...
27  27  All three test cases got the correct results, ...
28  28  I have a question about the method!\n\nProblem...
29  29                It says "jupiter command not found"
30  30  In the list and string related methods as show...
31  31  prime_number=[]\nnum=100\nfor i in range(1, nu...
32  32  The return is not reflected, and receiving the...
33  33  Hello. I have a question about the class!\nCod...
34  34  out = "Number: {0}, Name: {1}, Average Score: ...
35  35           I missed where the dictionary was wrong.
36  36  score += score1                       # 또는 sco...
37  37  Is this the right way to solve the problem?\nI...
38  38  2. When inputted as or, it was calculated as l...
39  39  Hello \nI understand you're taking the AIFB ce...
40  40  I asked you a question about printing last tim...
41  41  #LOP turns the loop = Repeat = Take them out o...
42  42  Hello, manager. I'm Nam Jeonghyun.\n\nI'm cont...
43  43  Hello! \nI keep getting confused between == an...
44  44  Hello!\n\nI'm curious about the f'string - for...
45  45  The code I wrote is \ntitanic['Family'] = tita...
46  46  I can't hear the lecture. It's like that even ...
47  47  1) the sum of even numbers from 1 to 10\ns = 0...
48  48  [Advanced] Create a function even.\nReceive a ...
49  49  You said that the post includes data in the bo...

In [19]:
a.to_csv('english_test.csv', index=False)

In [8]:
data.to_csv('english_all.csv', index=False)

In [39]:
data.shape

(3706, 2)

In [38]:
print(len(lst))

3690

In [41]:
data.head()

                                                text label
0  I wonder if the kernel size here is just decla...   코드2
1  Currently, I dynamically create multiple forms...     웹
2  It's a question when you use    I'm asking you...   코드2
3                    What should I do with the error   코드2
4  I understood that this would save images in th...   코드2

In [42]:
data.to_csv('./english.csv', index=False)

In [ ]:
import requests

def get_translate():
    
    lst = []
    for i in range(len(data['text'])):
        client_id = "" # <-- 돈이 들어서 비공개 처리하였습니다.client_id 기입
        client_secret = "" # <-- 돈이 들어서 비공개 처리하였습니다.client_secret 기입
        
    
        a = {'text' : data['text'][i],
                'source' : 'ko',
                'target': 'en'}

        url = "https://openapi.naver.com/v1/papago/n2mt"

        header = {"X-Naver-Client-Id":client_id,
                "X-Naver-Client-Secret":client_secret}

        response = requests.post(url, headers=header, data=a)
        rescode = response.status_code

        if(rescode==200):
            send_data = response.json()
            trans_data = (send_data['message']['result']['translatedText'])
            lst.append(trans_data)
        else:
            print("Error Code:" , rescode)
    return lst

In [43]:
pd.read_csv('./english.csv')

                                                   text   label
0     I wonder if the kernel size here is just decla...     코드2
1     Currently, I dynamically create multiple forms...       웹
2     It's a question when you use    I'm asking you...     코드2
3                       What should I do with the error     코드2
4     I understood that this would save images in th...     코드2
...                                                 ...     ...
3701  After tokenization, we separated and vectorize...     코드2
3702  Is it the highest point among the uploaded val...  시스템 운영
3703  The reason for learning Lang in class is to un...      이론
3704  The value does not change even if I do it, and...      원격
3705  The correlation doesn't come out that big, but...      이론

[3706 rows x 2 columns]

In [44]:
data = pd.read_csv('./train.csv')
data.head()

                                                text label
0  self.convs1 = nn.ModuleList([nn.Conv2d(1, Co, ...   코드2
1  현재 이미지를 여러개 업로드 하기 위해 자바스크립트로 동적으로 폼 여러개 생성하는데...     웹
2  glob.glob(PATH) 를 사용할 때 질문입니다.\n\nPATH에 [ ] 가 ...   코드2
3  tmpp = tmp.groupby(by = 'Addr1', as_index=Fals...   코드2
4  filename = TEST_IMAGE + str(round(frame_sec)) ...   코드2

In [45]:
data['text'] = data['text'].str.replace(pat=r'[ㄱ-ㅣ가-힣]+',repl=r"", regex=True)
data['text'].replace('', np.nan, inplace=True)

In [46]:
data.head()

                                                text label
0  self.convs1 = nn.ModuleList([nn.Conv2d(1, Co, ...   코드2
1                               ...     ..       .       웹
2  glob.glob(PATH)    .\n\nPATH [ ]         .\n\n...   코드2
3  tmpp = tmp.groupby(by = 'Addr1', as_index=Fals...   코드2
4  filename = TEST_IMAGE + str(round(frame_sec)) ...   코드2

In [47]:
data['temp'] = " "

In [63]:
data2 = pd.read_csv('./english.csv')
print(data2['text'][0])
print(data2['text'][1])

I wonder if the kernel size here is just declared on the assumption that the maximum length of a word does not exceed
Currently, I dynamically create multiple forms in JavaScript to upload multiple images, but I can't create them even if I click them. I can't do anything because it's blocked. Just in case, I can't simply use the basic example code  What's the reason

In [49]:
data['text'] = data['text'] + data['temp'] + data2['text']

In [50]:
data.head()

                                                text label temp
0  self.convs1 = nn.ModuleList([nn.Conv2d(1, Co, ...   코드2
1               ...     ..       .   Currently, I...     웹
2  glob.glob(PATH)    .\n\nPATH [ ]         .\n\n...   코드2
3  tmpp = tmp.groupby(by = 'Addr1', as_index=Fals...   코드2
4  filename = TEST_IMAGE + str(round(frame_sec)) ...   코드2

In [59]:
import re
re.sub(r'[.\\/,^%*!\n]', '', data['text'][0])

'selfconvs1 = nnModuleList([nnConv2d(1 Co (K 100)) for K in Ks])1   K100      100    100    I wonder if the kernel size here is just declared on the assumption that the maximum length of a word does not exceed'

In [60]:
data.head()

                                                text label temp
0  self.convs1 = nn.ModuleList([nn.Conv2d(1, Co, ...   코드2
1               ...     ..       .   Currently, I...     웹
2  glob.glob(PATH)    .\n\nPATH [ ]         .\n\n...   코드2
3  tmpp = tmp.groupby(by = 'Addr1', as_index=Fals...   코드2
4  filename = TEST_IMAGE + str(round(frame_sec)) ...   코드2

In [71]:
data2.isnull().sum()

text     0
label    0
dtype: int64

In [61]:
data.drop('temp', axis=1, inplace=True)

In [62]:
data.to_csv('./code+english_translate.csv', index=False)

In [68]:
data['text'][3]

"tmpp = tmp.groupby(by = 'Addr1', as_index=False)[['Category']].sum()\n\n\nplt.figure(figsize=(15, 5))\nplt.bar(tmpp['Addr1'], tmpp['Category']/1000)\nplt.ticklabel_format(axis='y', style='plain')\nplt.show()\n\n\n : unsupported operand type(s) for /: 'str' and 'int'\n\n  ?!!!! What should I do with the error"

In [69]:
k = pd.read_csv('./train.csv')
k['text'][3]

"tmpp = tmp.groupby(by = 'Addr1', as_index=False)[['Category']].sum()\n\n\nplt.figure(figsize=(15, 5))\nplt.bar(tmpp['Addr1'], tmpp['Category']/1000)\nplt.ticklabel_format(axis='y', style='plain')\nplt.show()\n\n\n오류 : unsupported operand type(s) for /: 'str' and 'int'\n\n어떻게 해결하면 좋을까요?!!!!"